doctype html
html
  head
    title AptiTalk
    meta(name="viewport" content="width=device-width,initial-scale=1, user-scalable=no")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href="#") AptiTalk
    div#space &nbsp;
    div.container
      div.col-sm-12
        div.row
          div.jumbotron#profile
            img#img-profile-heading(src="noprofile.jpg")
            h2 #{user.displayName}
            span.hidden#userId #{user.identifier}
            span.hidden#userName #{user.displayName}
            span.hidden#userEmail #{user.emails[0].value}
            div.hidden#xssHtml
        div.row
          div.panel.panel-default
            div.panel-heading
              h3.panel-title Post 
            div#talk
              div.input-group.input-group-sm
                textarea.form-control(rows='5')#input-primary
                span.input-group-btn
                  button.btn.btn-primary.btn-xs(type='button')
                    | Talk
            div.panel-body
              ul.list-group#posts
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="jquery.timeago.js")
    script(src="client.js")     