doctype html
html
  head
    title AptiTalk
    meta(name="viewport" content="width=device-width,initial-scale=1, user-scalable=no")
    if internet
      link(href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css",rel="stylesheet")
      link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
    else
      link(href="public/css/bootstrap.min.css", rel="stylesheet")
      link(href="public/css/jquery-ui.css", rel="stylesheet")        
    link(href="public/css/style.css", rel="stylesheet")
    link(href="public/css/loader.css", rel="stylesheet")
  body
    
    div.container
      div.col-sm-12
        div.row
          div.jumbotron.hidden-xs#profile
            if user.picture
              img#img-profile-heading(src=user.picture)
            else
              img#img-profile-heading(src="public/img/noprofile.jpg")
            h2 #{user.displayName}
            span.hidden#userId #{user._id}
            span.hidden#userName #{user.nickName}
            span.hidden#userEmail #{user.email}
        div.row.loader Connecting
        div.row.transparent-div#posts-row          
          div.panel.panel-default
            div#talk
              div.input-group.input-group-sm
                input.form-control(rows='5')#input-primary
                span.input-group-btn
                  button.btn.btn-primary.btn-xs(type='button')
                    | Talk
            div.panel-body              
              ul.list-group#posts
                each post in posts
                  li(class='list-group-item list-group-item')
                    div(id='post-' + post._id)
                      div#post-image
                        if post.picture
                          img#img-post(src=post.picture)
                        else
                          img#img-post(src='public/img/noprofile.jpg')
                      div#post-user
                        a(href='/users/'+post.username) #{post.username}
                      time#post-time(datetime=post.time.toISOString())
                      div#post-message !{post.message}
                      div.input-group.input-group-sm
                        textarea.form-control.reply-input(id='reply-input-' + post._id type='text')
                        span.input-group-btn
                          button.btn.btn-info.btn-xs(id='reply-btn-' + post._id type='button') Reply
                      ul.replies
                        each reply in post.replies.reverse()
                          li(class='list-group-item list-group-item-reply')
                            div(id='reply-' + reply.parentPostId)
                            div#post-image
                              if reply.picture
                                img#img-post(src=reply.picture)
                              else
                                img#img-post(src='public/img/noprofile.jpg')
                            div#post-user
                              a(href='/users/'+reply.username) #{reply.username}
                            time#post-time(datetime=reply.time.toISOString())
                            div#post-message !{reply.message}
                        if post.replies.length > 1
                          li.more.text-center ...
                          li.collapse.text-center
                            span.glyphicon.glyphicon-chevron-up

    if internet
      script(src="//code.jquery.com/jquery-1.10.2.js")
      script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
      script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
      script(src="/socket.io/socket.io.js")
    else
      script(src="public/js/jquery-1.10.2.min.js")
      script(src="public/js/bootstrap.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="public/js/jquery-ui.min.js")        
    script(src="public/js/jquery.timeago.js")
    script(src="public/js/autocomplete.js")
    script(src="public/js/client.js")