doctype.html
html
  head
    title AptiTalk login
    meta(name="viewport" content="width=device-width, user-scalable=no")
    if internet
      link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
    else
      link(href="css/bootstrap.min.css", rel="stylesheet")
  body
    div.container
      div.col-sm-12
        div.row
          div.jumbotron
            img(src="public/img/google.png")
            h1 Welcome to AptiTalk
            p (aptitud.se accounts only)
            span#signinButton
              span.g-signin(data-callback="signInCallback",
                            data-clientid=client_id,
                            data-cookiepolicy="single_host_origin"
                            data-requestvisibleactions="http://schemas.google.com/AddActivity"
                            data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
                            data-approvalprompt="force"
                            data-accesstype="online"
                            data-width="wide")
    script(type="text/javascript").
      function signInCallback(authResult) {
        if (authResult.code) {
          $.post('/auth/google/callback', { id_token: authResult.id_token})
          .done(function(data) {
            $('#signinButton').hide();
            window.location.href = "/";
          });
        } else if (authResult.error) {
          console.log('There was an error: ' + authResult.error);
        }
      };

  if internet
    script(src="//apis.google.com/js/client:plusone.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
  else
    script(src="public/js/jquery-1.10.2.min.js")
  script(src="public/js/login.js")
