doctype html
html
  head
    title Profile for #{name}
    meta(name="viewport" content="width=device-width,initial-scale=1, user-scalable=no")
    if internet
      link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
    else
      link(href="./../public/css/bootstrap.min.css", rel="stylesheet")
    link(href="./../public/css/style.css", rel="stylesheet")
  body
  div.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      img.pull-left#img-logo(src="./../img/aptitud.png")
  div#space &nbsp;
  div.container
    div.col-sm-12
      div.row
        div.jumbotron#profile
          h2 #{name}
      div.row
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Posts 
          div.panel-body              
            ul.list-group#posts
              each post in posts.reverse()
                li(class='list-group-item list-group-item')
                  div(id='post-' + post._id)
                    !{post.message}
                    br
                    span.time #{post.time}
  if internet
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
  else
    script(src="./../js/jquery-1.10.2.min.js")
    script(src="./../js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="./../js/jquery.timeago.js")
  script(src="./../js/hashtags.js")
